<div class='main-body-margin'>
  <div class='col-md-8 background-topheader'>
    Traditional Chinese Medicine: Principles
  </div>
  <div class='col-md-8'>
    <p class='background-text'>
    Chinese medicine focuses heavily on maintaining balance as the path to healthy living.  While extremes may be useful in the moment; ultimately, the strongest, healthiest state is one of balance. Stepping away from balance for too long leads to illness and chronic health problems.  As Harriet Beinfield says in "<em>Between Heaven and Earth.</em>"  Chinese medicine embraces the logic that the best remedy for calamity is to avert it - the best cure for sickness is prevention."  Maintaining balance is the way to prevent sickness or calamity from occurring.
    </p>
    <h1 class='background-header'>Yin and Yang <%= image_tag("yin-yang-glyph.png", class: 'glyph-left-margin') %></h1>
      <p class='background-text'>
        Yin and Yang are Chinese medicine's representation of opposition.  They describe opposite ends of the same spectrum, yet, cannot exist without one aother.  Without cold how would one describe heat, and without sound how would we know silence?  They are the opposite of one another, yet, each has the seed of its opposite within it, and balancing the qualities of Yin and Yang in the body is a central tenant of Chinese Medicine.
      </p>
    <h2 class='background-subheader'>Yin <%= image_tag("yin-glyph.png", class: 'glyph-left-margin') %></h2>
      <p class='background-text'>
        Yin, in Chinese medicine, is the representation of the passive, quiet side of some quality.  It's character in Chinese language originates as a depiction of the shady side of a mountain and describes calmer, cooler aspects of a spectrum, and can be realized in activities like mediation or yoga.
      </p>
    <h2 class='background-subheader'>Yang <%= image_tag("yang-glyph.png", class: 'glyph-left-margin') %></h2>
      <p class='background-text'>
        Opposite to Yin, Yang's representation is a characterization of the sunny side of a mountain.  Accordingly, Yang is the representation of activity and warmth.  Loudness, brightness, and energetic activities are associated with Yang qualities.
      </p>
    <h1 class='background-header'>Qi <%= image_tag("qi-glyph.png", class: 'glyph-left-margin') %></h1>
      <p class='background-text'>
        The Chinese character for Qi is a combination of the characters for air and rice, or the steam that pours off of hot rice.  Chinese medicine describeis Qi as the invisible energy which gives all life motion.  Life itself is Qi condensing, while death is its dispersal.  Qi is said to permeate all living things, and is what sustains one's life.  When Qi flows through one's system unimpeded their life force can be strong, while blockages in the flow of Qi can cause imbalance, weakness, and illness in an individual.
      </p>
    <h1 class='background-header'>Balance Through Food</h1>
      <p class='background-text'>
        According to Chinese medicine, all food contains various properties associated with Yin, Yang, Qi, and the five elements associated with the interconnected system central to Chinese medicine theory.  Some foods have been found to promote Yin qualities within the body, while others strengthen Yang aspect.  Other foods have been found to boost Qi circulation in the body.  As well, the flavors Chinese medicine uses in describing foods correlate with the five element system, and have been found to boost the corresponding element's properties within the body.  By understanding the effect foods have on each of these properties in one's body, a person can choose to eat foods which promote balance, health, and greater energy in that individual.
      </p>
  </div>

  <div class='col-md-3 col-md-offset-1'>
    <h2>Other background options:</h2>
    <%= button_to "5 Element System", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %>
    <%= button_to "Resources", resources_path, class: 'elem-nav-button elem-general-color', method: "get" %>
  </div>
</div>
