<div class='main-body-margin'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='five-elem-text'>
        In addition to the Yin/Yang dichotomy, Chinese medicine desrcibes an interconnected system of five elements.  The relationships among these five elements of nourishment and regulation create an interweaved push and pull balance which is used to describe many aspects of life in Chinese medicine theory.  Around the outside of the five element system depicted below, in clockwise-order, each of the elements function to nourish the next element, and internally exists a pattern of regulation. (see the picture description for a more detailed explanation)   Associated with each of the elements are qualities which describe everything from personality traits to emotions to flavors of food. The flavors and colors associated with foods seen through the five element system play a major factor in achieving balance in diet in Chinese medicine.
      </div>
      </br>

      <div class='col-md-10 col-md-offset-1'>
        <div class='five-elem-info-box'>Click on any of the elements to learn more about it.</div>
      </div>

      <div class='col-md-11 col-md-offset-1'>
        <%= image_tag("TCM_5Elements.png", usemap: "#five_elem_circles", class: "five-elem-image") %>
      </div>
      </br>
    </div>
    <div class='col-md-3 col-md-offset-0'>
      <h2>Other background options:</h2>
      <div><%= button_to "Principles of TCM", background_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
      <div><%= button_to "Resources", resources_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
  <div class='col-md-10'>
    Wood is the fuel for Fire which produces ashes to return to the Earth which produce ores of Metal over time which can add beneficial properties to Water which nourishes the growth of Wood, completing the cycle.  Internally, Water regulates Fire which melts Metals, which binds or cuts Wood, which pierces and breaks up the Earth, which blocks and channels Water, completing the regulation cycle within the system.
  </div>
</div>

<map name="five_elem_circles">
  <area shape="circle" coords="345, 115, 110" href=<%= fire_path %> title="Learn about the Fire element" alt="Fire Element"/>
  <area shape="circle" coords="120, 280, 110" href=<%= wood_path %> title="Learn about the Wood element" alt="Wood Element"/>
  <area shape="circle" coords="560, 280, 110" href=<%= earth_path %> title="Learn about the Earth element" alt="Earth Element"/>
  <area shape="circle" coords="210, 525, 110" href=<%= water_path %> title="Learn about the Water element" alt="Water Element"/>
  <area shape="circle" coords="490, 525, 110" href=<%= metal_path %> title="Learn about the Metal element" alt="Metal Element"/>
</map>
