<div class='main-body-margin'>
  <div class='row'>
  <div class='col-md-8'>
    <div>
      These are some of the resources used in creating this website.
    </div>
    </br>
    <div class='row'>
      <div class='col-md-3'><%= link_to image_tag("HelpingOurselves.png"), "http://www.redwingbooks.com/sku/HelOurGuiTra-E" %></div>
      <div class='col-md-9'>
        <div class='resource-title'>Helping Ourselves</div>
        <div class='resource-author'>by: Daverick Leggett</div></br>
        <div>Description:</div>
      </div>
    </div>
    </br>
    <div class='row'>
      <div class='col-md-3'><%= link_to image_tag("LiveInTheBalance.png"), "http://www.amazon.com/Live-Balance-Ground-Breaking-East-West-Nutrition/dp/1569246157/sr=8-1/qid=1166468591/ref=pd_bbs_sr_1/105-1845308-3952434?ie=UTF8&s=books"%></div>
      <div class='col-md-9'>
        <div class='resource-title'>Live in the Balance</div>
        <div class='resource-author'>by: Linda Prout</div></br>
        <div>Description:</div>
      </div>
    </div>
    </br>
    <div class='row'>
      <div class='col-md-3'><%= link_to image_tag("TheChinaStudy.png"), "http://www.benbellavegan.com/book/the-china-study/" %></div>
      <div class='col-md-9'>
        <div class='resource-title'>The China Study</div>
        <div class='resource-author'>by: T. Colin Campbell</div></br>
        <div>Description:</div>
     </div>
    </div>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <h2>Other background options:</h2>
    <%= button_to "Principles of TCM", background_path, class: 'elem-nav-button elem-general-color', method: "get" %>
    <%= button_to "5 Element System", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %>
  </div>
  </br>
</div>
