<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "earth_element.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Earth</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Sweet</span>
            <span class='elements-att-span'>Color: Yellow</span>
            <span class='elements-att-span'>Yin Organ: Spleen</span>
            <span class='elements-att-span'>Yang Organ: Stomach</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='elements-descrip-text col-md-12'>
          <p>
In hac habitasse platea dictumst. Nulla maximus consectetur tortor fringilla rutrum. Nunc nec nibh porta, faucibus ligula vitae, feugiat eros. Phasellus at tincidunt nulla, semper aliquet orci. Vestibulum aliquam sit amet arcu nec bibendum. Pellentesque eu tristique lectus. Vestibulum ante dolor, porta ac vestibulum eu, faucibus in felis. Morbi at neque eleifend tortor laoreet ullamcorper. Ut feugiat eleifend venenatis. Vestibulum maximus commodo varius.
</br></br>
Maecenas id pellentesque tellus. Donec sed semper ante. Etiam elit odio, sagittis eget tempor a, malesuada ullamcorper mi. Sed blandit arcu sit amet diam tempus aliquam. Donec luctus lacus efficitur sem blandit, vitae bibendum nulla mollis. Vivamus sed ex quis nunc pellentesque pharetra. Sed ligula libero, vestibulum vestibulum purus sit amet, efficitur porttitor nisi. Fusce consequat odio vel libero viverra facilisis. Cras est turpis, auctor vel dapibus in, euismod non lectus. Etiam pellentesque faucibus lacus id feugiat. Quisque nec nibh nisl. Quisque ut lorem velit. Donec a placerat orci. Etiam posuere erat et mi rutrum posuere. Morbi vel massa imperdiet eros sagittis maximus.
</br></br>
Aenean aliquet maximus nisl nec auctor. Fusce vel leo tristique, tempus leo eget, porttitor augue. Vestibulum lorem quam, pretium non sodales vestibulum, pellentesque in urna. Morbi dapibus lacus nec lorem lobortis, sit amet porttitor dolor vulputate. Phasellus elit ante, tristique ac odio vitae, posuere hendrerit massa. In eu erat magna. Nulla facilisi. Aenean vitae sapien enim. Quisque auctor condimentum tempor. Mauris nec est ornare, lobortis enim ac, ultricies lorem. Nam sed aliquam enim. 
          </p>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Fire Element", fire_path, class: 'elem-nav-button fire-nav-button', method: "get" %></div>
      <div><%= button_to "Metal Element", metal_path, class: 'elem-nav-button metal-nav-button', method: "get" %></div>
      <div><%= button_to "Water Element", water_path, class: 'elem-nav-button water-nav-button', method: "get" %></div>
      <div><%= button_to "Wood Element", wood_path, class: 'elem-nav-button wood-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>
