<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "fire_element_new.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Fire</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Bitter</span>
            <span class='elements-att-span'>Color: Red</span>
            <span class='elements-att-span'>Yin Organ: Heart/Mind</span>
            <span class='elements-att-span'>Yang Organ: Small Intestine</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div>
            <p class='elements-descrip-text'>
Aliquam erat volutpat. Vivamus bibendum interdum ex at maximus. Morbi eget erat ultrices, lacinia nunc vitae, finibus elit. Vivamus tempor placerat nisi. Nullam eu lorem vel erat dignissim sollicitudin tempus eget sapien. Donec dictum non elit eu tincidunt. Sed egestas, lacus vel congue aliquam, ligula sapien scelerisque libero, nec aliquet arcu ante ac magna. Aliquam sed mauris pretium, hendrerit eros eget, bibendum tortor. Proin ultrices est eu nisi efficitur, sit amet fermentum ipsum consequat. Phasellus at nunc rhoncus, feugiat nibh sed, dictum ex. Vivamus nec ante mi. Vivamus interdum libero sit amet justo semper, a blandit sem tempus. Quisque cursus metus nisl, at fringilla arcu tempor a. Maecenas a tempor dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</br></br>
Morbi vitae sem et tellus vulputate porttitor non vitae eros. Maecenas id augue vitae purus tristique aliquet. Pellentesque mollis velit eu lectus vulputate, id dapibus felis sagittis. Etiam eget erat nec ligula laoreet laoreet. Duis blandit ultrices vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vitae consectetur urna. Integer non cursus ipsum. Pellentesque sollicitudin congue tempus. Sed felis arcu, aliquam sit amet scelerisque vel, feugiat et ex. Donec non consectetur urna.
</br></br>
Sed vel nisl sed turpis consequat egestas eu in orci. Etiam placerat, urna vestibulum congue laoreet, enim magna pulvinar mi, vitae efficitur nisi enim vitae sem. Vestibulum aliquet purus et arcu tristique ultricies. Nulla in neque id ante dapibus bibendum. Curabitur nec ante bibendum, volutpat ante eget, varius nisi. Praesent purus lorem, sagittis ultricies ultricies nec, bibendum et justo. Donec tempus varius ornare. Aenean auctor maximus diam ac sollicitudin. Nulla congue diam vitae justo pellentesque, vitae pretium justo gravida. Duis euismod ullamcorper libero, et aliquam orci tempus vel. Mauris quis justo felis. Mauris sagittis eu justo laoreet vestibulum. Suspendisse semper velit purus, sed viverra tortor aliquam eu. Donec ac mi vitae turpis faucibus scelerisque. Donec condimentum non tellus a pretium. Fusce nisi sem, tincidunt at eros congue, tristique placerat justo. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Earth Element", earth_path, class: 'elem-nav-button earth-nav-button', method: "get" %></div>
      <div><%= button_to "Metal Element", metal_path, class: 'elem-nav-button metal-nav-button', method: "get" %></div>
      <div><%= button_to "Water Element", water_path, class: 'elem-nav-button water-nav-button', method: "get" %></div>
      <div><%= button_to "Wood Element", wood_path, class: 'elem-nav-button wood-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>

