<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "metal_element.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Metal</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Pungent</span>
            <span class='elements-att-span'>Color: White</span>
            <span class='elements-att-span'>Yin Organ: Lungs</span>
            <span class='elements-att-span'>Yang Organ: Large Intestine</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='elements-descrip-text'>
            <p>
Vestibulum gravida ex leo, luctus dapibus dui porttitor nec. Aliquam sed massa eu nunc laoreet vehicula. Praesent semper libero vel mi pulvinar sollicitudin. Fusce suscipit elit et urna ultricies pellentesque. Quisque odio libero, consectetur in massa ac, egestas sollicitudin est. Quisque ut semper sapien. Duis sit amet cursus orci. Quisque ultrices ultricies elit eget vestibulum. Maecenas euismod tellus laoreet varius volutpat. Mauris ut arcu sollicitudin, gravida odio a, ultricies mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</br></br>
Nunc sagittis accumsan dui, sit amet ultrices ipsum venenatis vel. Duis volutpat turpis molestie consectetur venenatis. Suspendisse gravida nisl eu ex hendrerit, vitae iaculis mauris semper. Integer et odio sit amet velit tempor volutpat. Morbi facilisis nec nisi vel cursus. Fusce dapibus viverra nulla non feugiat. Mauris mattis tellus eu augue convallis dapibus.
</br></br>
Nam enim lorem, aliquam et egestas eu, euismod eu sem. Cras nulla ligula, scelerisque sit amet diam sed, finibus pellentesque mauris. Vestibulum fermentum, mi at tristique vehicula, dolor neque maximus sem, nec rutrum lacus justo nec est. Donec pharetra lacus at nisl eleifend semper. Proin vitae tortor fringilla, imperdiet nisl in, bibendum erat. Fusce finibus a tellus vel mattis. Sed aliquet quis urna a dictum. Cras metus nisi, hendrerit quis dictum sit amet, placerat nec sem. Nam luctus vehicula enim id venenatis. Phasellus dapibus molestie nisi vitae ornare. Nunc non nulla metus. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Fire Element", fire_path, class: 'elem-nav-button fire-nav-button', method: "get" %></div>
      <div><%= button_to "Earth Element", earth_path, class: 'elem-nav-button earth-nav-button', method: "get" %></div>
      <div><%= button_to "Water Element", water_path, class: 'elem-nav-button water-nav-button', method: "get" %></div>
      <div><%= button_to "Wood Element", wood_path, class: 'elem-nav-button wood-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>
