<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "metal_element.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Metal</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Pungent</span>
            <span class='elements-att-span'>Color: White</span>
            <span class='elements-att-span'>Yin Organ: Lungs</span>
            <span class='elements-att-span'>Yang Organ: Large Intestine</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='elements-descrip-text'>
            <p>metal is the structured element... etc. etc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Fire Element", fire_path, class: 'elem-nav-button fire-nav-button', method: "get" %></div>
      <div><%= button_to "Earth Element", earth_path, class: 'elem-nav-button earth-nav-button', method: "get" %></div>
      <div><%= button_to "Water Element", water_path, class: 'elem-nav-button water-nav-button', method: "get" %></div>
      <div><%= button_to "Wood Element", wood_path, class: 'elem-nav-button wood-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>
