<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "water_element.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Water</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Salty</span>
            <span class='elements-att-span'>Color: Black/Dark</span>
            <span class='elements-att-span'>Yin Organ: Kidneys</span>
            <span class='elements-att-span'>Yang Organ: Bladder</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='elements-descrip-text'>
            <p>
Nullam porttitor justo nec ultrices mattis. Vestibulum imperdiet eros eget sapien congue, hendrerit faucibus nibh mattis. Aenean feugiat diam viverra mollis commodo. Vivamus porta suscipit nisi quis pharetra. Ut tincidunt eu tortor sed euismod. Vestibulum placerat ante et sapien maximus, nec maximus velit vestibulum. Aenean tincidunt quis lacus vel elementum. Nulla sed dapibus turpis, eget luctus arcu. Mauris ut luctus tellus, eget elementum arcu. Proin varius lacinia elit ac laoreet. Fusce eget risus ut tortor tempus laoreet. Pellentesque luctus eros quis auctor malesuada. Nunc pellentesque quis neque at dictum. Ut sit amet augue mi.
</br></br>
Sed imperdiet, mauris ac malesuada porttitor, elit sapien sodales mauris, ac porttitor nisi diam sit amet metus. Aliquam nunc nibh, luctus sit amet dolor sit amet, gravida aliquam erat. Phasellus interdum, mauris eu mattis finibus, felis diam accumsan leo, eget facilisis felis urna eget augue. Etiam volutpat justo lectus, in tincidunt orci efficitur molestie. Curabitur laoreet quis augue ac tincidunt. Donec ut rhoncus enim. Nulla odio lectus, commodo at dui vel, dignissim lacinia sem. Vestibulum ullamcorper mauris felis, non fermentum ante ullamcorper vitae. Sed ut mauris finibus, imperdiet orci vel, tempor leo.
</br></br>
Duis non feugiat mauris. Fusce hendrerit venenatis turpis sit amet venenatis. Donec placerat vel urna eget venenatis. Fusce neque diam, congue quis dignissim eget, posuere consectetur erat. Mauris euismod diam ac aliquet bibendum. Integer dictum feugiat lacus, vitae aliquam velit pulvinar quis. Mauris gravida ultrices diam sed lobortis. Nam aliquet a orci id volutpat. In gravida interdum tincidunt. Cras blandit eleifend mattis. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Fire Element", fire_path, class: 'elem-nav-button fire-nav-button', method: "get" %></div>
      <div><%= button_to "Earth Element", earth_path, class: 'elem-nav-button earth-nav-button', method: "get" %></div>
      <div><%= button_to "Metal Element", metal_path, class: 'elem-nav-button metal-nav-button', method: "get" %></div>
      <div><%= button_to "Wood Element", wood_path, class: 'elem-nav-button wood-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>
