<div class='elements-header'>
  <div class='row'>
    <div class='col-md-9'>
      <div class='row'>
        <div class='col-md-2'><%= image_tag "wood_element.png" %></div>
        <div class='col-md-10'>
          <div class='elements-header-text'>Wood</div>
          <div class='elements-header-subtext'>
            <span class='elements-att-span'>Flavor: Sour</span>
            <span class='elements-att-span'>Color: Green</span>
            <span class='elements-att-span'>Yin Organ: Liver</span>
            <span class='elements-att-span'>Yang Organ: Gallbladder</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div>
            <p class='elements-descrip-text'>
Proin dignissim, augue in feugiat pellentesque, nibh massa molestie orci, ac consectetur ipsum diam sed leo. Proin aliquam leo enim, at mattis ex consectetur faucibus. Nunc non mattis diam, vestibulum dapibus lacus. Praesent pharetra, dolor ut consectetur scelerisque, magna leo malesuada massa, vel vestibulum sem augue in urna. Aliquam viverra lacus elit, et aliquam mauris aliquet non. Aliquam semper ipsum risus, pretium tempor augue semper quis. Ut purus nulla, rhoncus egestas varius porttitor, bibendum quis libero. Sed ut porttitor nunc. Pellentesque quis cursus nibh.
</br></br>
Pellentesque ut iaculis augue, a ultricies ex. Quisque sollicitudin lacus vel massa consequat tempor. Maecenas auctor vulputate sollicitudin. Aenean nunc massa, vehicula sit amet diam eget, ullamcorper mattis nisi. Duis at fermentum nisl, efficitur pulvinar metus. Quisque varius, lectus vitae auctor varius, est massa condimentum libero, non rutrum risus neque luctus quam. Duis vehicula ultrices nibh, sit amet tristique est posuere non. Phasellus faucibus, urna eu iaculis gravida, lacus neque tincidunt felis, ac aliquam erat elit non quam. Aenean aliquam, nulla quis congue vulputate, purus ipsum congue felis, quis dapibus magna tellus nec odio. Curabitur cursus lacus massa, nec sagittis neque tristique vitae. Integer mollis aliquam aliquet. Vestibulum tristique, justo quis consequat viverra, nibh ex luctus metus, a pharetra ligula neque non nisl. Integer in ullamcorper dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</br></br>
Cras finibus fermentum enim vitae sagittis. Proin sapien neque, consequat vel dolor at, molestie sodales mi. Pellentesque tempor, ligula vel varius egestas, neque metus tincidunt nibh, sit amet egestas dui velit eget sem. Curabitur rhoncus eget magna a mattis. Suspendisse potenti. Donec viverra turpis eget nibh bibendum, vel mollis ante blandit. Phasellus neque risus, ornare eget risus vel, tempus sollicitudin metus. Morbi ac erat vel risus malesuada dapibus. Phasellus porttitor congue ultrices. Nam facilisis turpis dolor, nec rutrum ante rutrum eu. Nam tempus placerat ante sit amet eleifend. In hac habitasse platea dictumst. Suspendisse mi purus, condimentum a dapibus quis, rhoncus ut ex. Aliquam ut felis augue. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <h2>Other Element Descriptions:</h2>
      <div><%= button_to "Fire Element", fire_path, class: 'elem-nav-button fire-nav-button', method: "get" %></div>
      <div><%= button_to "Earth Element", earth_path, class: 'elem-nav-button earth-nav-button', method: "get" %></div>
      <div><%= button_to "Metal Element", metal_path, class: 'elem-nav-button metal-nav-button', method: "get" %></div>
      <div><%= button_to "Water Element", water_path, class: 'elem-nav-button water-nav-button', method: "get" %></div>
      <div><%= button_to "Back to Chart", five_element_system_path, class: 'elem-nav-button elem-general-color', method: "get" %></div>
    </div>
  </div>
</div>
